<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/css" rel="stylesheet" type="text/css" />
        <link href="~/bundles/modernizr" rel="stylesheet" type="text/css" />*@


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- qTip -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />

    <!-- Full Calendar -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.css" media="print" />

    @*<link href="~/Content/css/custom-style" rel="stylesheet" type="text/css" />*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ProyectoVueling</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a></li>
                    <li><a asp-area="" asp-controller="SubCategorias" asp-action="Index">SubCategorias</a></li>
                    <li><a asp-area="" asp-controller="Profesors" asp-action="Index">Profesores</a></li>
                    <li><a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                    <li><a asp-area="" asp-controller="Cursoes" asp-action="Index">Cursos</a></li>
                    <li><a asp-area="" asp-controller="CursoImpartidoes" asp-action="Index">Cursos impartidos</a></li>
                    <li><a asp-area="" asp-controller="CursoAmedidas" asp-action="Index">Cursos a medida</a></li>
                    <li><a asp-area="" asp-controller="Moduloes" asp-action="Index">Módulos</a></li>
                    <li><a asp-area="" asp-controller="Lección" asp-action="Index">Lecciones</a></li>
                    <li><a asp-area="" asp-controller="Calendario" asp-action="Index">Calendario</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p><strong>Copyright © @DateTime.Now.Year - <a href="https://fullcalendar.io/">Calendario que funciona</a>.</strong> All rights reserved.</p>
            </center>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    @*<script src="~/bundles/bootstrap" type="text/javascript"></script>*@

    <!-- Include moment-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- qTip -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <!-- Full Calendar -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>
    <script src="~/js/script-custom-calendar.js" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
</body>
</html>  