
@{
    ViewData["Title"] = "Calendario";
    Layout = "~/Views/Shared/_LayoutCalendar.cshtml";
}

<h2>Calendario</h2>
<div class="row">
    <div class="panel-heading">
        <div class="col-md-8  custom-heading3">
            <h3>
                <i class="fa fa-calendar"></i>
                <span>ASP.NET MVC5 - Full Calendar JQuery Plugin</span>
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <section class="col-md-12 col-md-push-0">
        <partial name="~/Views/Shared/_CalendarPartial.cshtml" />
        @*@Html.Partial("_CalendarPartial")
            @{ Html.RenderPartial("_CalendarPartial"); }*@
    </section>
</div>
@section Scripts {
    <script>
        $('#calendar').fullCalendar({
            events: [
                {
                    title: 'event1',
                    start: '2019-01-01'
                },
                {
                    title: 'event2',
                    start: '2019-01-05',
                    end: '2019-01-07'
                },
                {
                    title: 'event3',
                    start: '2019-01-09T12:30:00',
                    allDay: false // will make the time show
                }
            ]
        });
    </script>
    }