@model WebCursos.Models.Modulo

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Modulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modulo1" class="control-label"></label>
                <input asp-for="Modulo1" class="form-control" />
                <span asp-validation-for="Modulo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentarioHtml" class="control-label"></label>
                <input asp-for="ComentarioHtml" class="form-control" />
                <span asp-validation-for="ComentarioHtml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso" class="control-label"></label>
                <select asp-for="Curso" class ="form-control" asp-items="ViewBag.Curso"></select>
            </div>
            <div class="form-group">
                <label asp-for="DuracionEnMinutos" class="control-label"></label>
                <input asp-for="DuracionEnMinutos" class="form-control" />
                <span asp-validation-for="DuracionEnMinutos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HayEjercicios" class="control-label"></label>
                <input asp-for="HayEjercicios" class="form-control" />
                <span asp-validation-for="HayEjercicios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pos" class="control-label"></label>
                <input asp-for="Pos" class="form-control" />
                <span asp-validation-for="Pos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
