@model ProyectoVueling.Models.Lección

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Lección</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Lección1" class="control-label"></label>
                <input asp-for="Lección1" class="form-control" />
                <span asp-validation-for="Lección1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentarioHtml" class="control-label"></label>
                <textarea asp-for="ComentarioHtml" class="form-control" rows="8" cols="140"></textarea>
                <span asp-validation-for="ComentarioHtml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modulo" class="control-label"></label>
                <select asp-for="Modulo" class="form-control" asp-items="ViewBag.Modulo"></select>
                <span asp-validation-for="Modulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HayEjercicios" class="control-label"></label>
                <div class="checkbox" align="center">
                    @Html.CheckBox("HayEjercicios", true)
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Pos" class="control-label"></label>
                <input asp-for="Pos" class="form-control" />
                <span asp-validation-for="Pos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
tinymce.init({
    selector: 'textarea'

            });</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}